.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    padding: 10px;
    justify-content: center;
}

.loading {
    display: flex;
    position: fixed;
    z-index: 9999;
    background-color: var(--accent);
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    left: 0;
}

.loading div {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background: #333;
    animation: loading 0.8s linear infinite;
}

.loading div:nth-child(odd) {
    animation-delay: 0.4s;
}

@keyframes loading {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.grid-item {
    border: 2px solid rgba(0, 0, 0, 0.5);
    background-color: var(--secondary);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    height: 200px;
    flex-basis: calc(50% - 15px); /* it will make sure there are at least two items per row */
    flex-shrink: 1; /* Items can shrink letting more items fit in a row */
    flex-grow: 1; /* Items can grow to use up any remaining space */
}

.pixelify-sans {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#content {
    display: flex;
    justify-content: center;
    max-width: 98vw !important;
}

html, body {
    --primary: #ae527e;
    --secondary: #df95b6;
    --accent: #d0637e;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#menu {
    position: fixed;
    width: 0;
    height: 100vh;
    transition: width 0.5s;
    overflow: clip;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: lightcoral;
    z-index: 99999; /* Add this line of code */
}

button {
    background-color: var(--secondary);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: var(--accent);
}

#header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--primary);
    padding: 10px;
    margin: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    margin: 0;
}


.upload-area {
    width: 100%;
    height: 300px;
    border: 2px dashed #999999;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.upload-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-area:hover {
    cursor: pointer;
    background: #F6F6F6;
}

.rename-file {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.rename-file input, .rename-file button {
    height: 40px;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    font-size: 16px;
    padding: 0 10px;
    margin-bottom: 10px;
}

.rename-file input {
    border: 1px solid #cecece;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.setting-item, .expression-item {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

.underline {
    text-decoration: underline;
}

.section {
    margin: 5px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    text-align: center;
    padding-left: 4px;

}

.animation-grid {
    justify-self: center;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;

    border-radius: 10px;
    border: dashed rgba(51, 51, 51, 0.55);
    padding: 5px;
}

.seriousModeBtn {
    background-color: red;
}

span {
    margin-left: 5px;
    margin-right: 5px;
}

#animationSections {
    max-width: 100%;
    overflow-x: hidden;
}

switch {
    position: relative;
    display: inline-block;
    width: 73px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 30px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--secondary);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--secondary);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

