{% extends "Base.html" %}
{% block title %}Expression Select{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block curDisplay %}
{% if currentDisplay %}
Displaying: {{ currentDisplay }}
{% else %}
Displaying: Nothing
{% endif %}
{% endblock %}
{% block content %}
    <div class="loading" id="loadingDiv" style="visibility: visible;">
        <div></div>
        <div></div>
        <div></div>
    </div>
<div class="grid-container">
    {% if files %}
    {% for file, data_url in files.items() %}
    <div class="grid-item" data-id="{{file}}" onclick="communicateSelection('{{file}}')">
        <h2>{{ file.split(".")[0] }}</h2>
        <img src="{{ data_url }}" alt="{{ file }}" style="height:80%; width:100%; object-fit: contain">
    </div>
    {% endfor %}
    {% else %}
    <p>No content available.</p>
    {% endif %}
</div>
<script>window.onload = function () {
    var loadingDiv = document.getElementById('loadingDiv');
    loadingDiv.style.transition = "opacity 0.5s ease-in-out";
    loadingDiv.style.opacity = 0;
    loadingDiv.addEventListener("transitionend", ()=>{loadingDiv.remove()})
}</script>
{% endblock %}