{% extends 'Base.html' %}
{% block curDisplay %}
    {% if currentDisplay %}
        Displaying: {{ currentDisplay }}
    {% else %}
        Displaying: Nothing
    {% endif %}
{% endblock %}
{% block title %}Upload File{% endblock %}

{% block content %}
    <div class="wrapper">

        <div class="upload-area" id="uploadfile">
            <h1>Drag and Drop file here<br/>Or<br/>Click to select file</h1>
        </div>
        <div class="rename-file">
            <input type="text" id="filename" name="filename" placeholder="Enter new file name">
            <button onclick="uploadFile()" id="submit-button">Upload File</button>
        </div>
    </div>
    <script>
        let uploadArea = document.getElementById('uploadfile');

        // Event listeners for drag and drop
        uploadArea.addEventListener('dragenter', (event) => {
            event.stopPropagation();
            event.preventDefault();
        }, false);

        uploadArea.addEventListener('dragover', (event) => {
            event.stopPropagation();
            event.preventDefault();
        }, false);

        uploadArea.addEventListener('drop', (event) => {
            event.stopPropagation();
            event.preventDefault();

            let dt = event.dataTransfer;
            let files = dt.files;

            handleFiles(files);
        }, false);

        // Open file selector on div click
        // Create input element
        let fileInput = document.createElement('input');
        fileInput.type = 'file';

        uploadArea.addEventListener('click', (event) => {
            fileInput.click();
        });

        fileInput.addEventListener('change', (event) => {
            handleFiles(event.target.files);
        });

        document.getElementById('file-input').addEventListener('change', (event) => {
            handleFiles(event.target.files);
        });

        function handleFiles(files) {
            const file = files[0];


            // Check if the file is an image.
            //TODO: Add jpg support.
            if (file.type.startsWith('image/') && file.type !== "image/jpg") {
                const reader = new FileReader();

                reader.onloadend = function (event) {
                    // Replace the drop area contents with the uploaded image
                    uploadArea.innerHTML = '';
                    let img = document.createElement('img');
                    img.src = event.target.result;
                    uploadArea.appendChild(img);
                    document.querySelector("#filename").value = file.name
                };

                reader.readAsDataURL(file);
            } else {
                showToast("Accepted file types are: .png, .gif", "error")
            }
        }

        function uploadFile() {
            // Get the selected file
            let file = uploadArea.querySelector('img').src;
            let formData = new FormData();

            // Fetch the image data and blob it
            fetch(file)
                .then(res => res.blob())
                .then(blob => {
                    // Append the blob to FormData
                    formData.append('file', blob, 'filename');

                    // Check if a new name has been specified
                    let newName = document.querySelector('#filename').value;
                    if (newName !== '') {
                        formData.set('file', blob, newName);
                    }

                    // Send the POST request to the server
                    $.ajax({
                        type: "POST",
                        url: $(location).attr('href'),
                        data: formData,
                        processData: false,
                        contentType: false, // the request must include this line to correctly send a file
                    }).done((response) => {
                        showToast(`File Upload Complete`, response)
                    })
                })
        }

    </script>

{% endblock %}