{% extends 'Base.html' %}
{% block curDisplay %}
{% if currentDisplay %}
Displaying: {{ currentDisplay }}
{% else %}
Displaying: Nothing
{% endif %}
{% endblock %}
{% block title %}Settings{% endblock %}

{% block content %}
    <div class="container">

        <h2>Settings</h2>
        <form id="settings-form">
        {% for key in settings %}
            <div class="setting-item">
                <label for="{{ key }}">{{ key }}</label>
                {% if settings[key]['type'] == "MULTICHOICE" %}
                    <select id="{{ key }}" name="{{ key }}">
                        {% for choice in settings[key]['choices'] %}
                            {% if loop.index0 == settings[key]['value'] %}
                                <option value="{{ choice }}" selected>{{ choice }}</option>
                            {% else %}
                                <option value="{{ choice }}">{{ choice }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>

                {% elif settings[key]['type'] == "RANGEINT" %}
                    <input id="{{ key }}" name="{{ key }}" type="range" min="{{ settings[key]['min'] }}"
                           max="{{ settings[key]['max'] }}"
                           value="{{ settings[key]['value'] }}">
                {% else %}
                    <input id="{{ key }}" name="{{ key }}" type="number" value="{{ settings[key]['value'] }}">
                {% endif %}
                <br>
                <p>{{ settings[key]['description']|safe }}</p>
            </div>
        {% endfor %}
            <button id="saveSettings" type="submit">Save & Apply</button>
        </form>


        <h2>Expressions</h2>
        <form id="expression-form">
            {% for expression in expr %}
            <div id="{{expression}}" class="expression-item">
                <input type="checkbox" name="{{expression}}">
                <label for="{{expression}}">{{expression}}</label>
            </div>
            {% endfor %}
            <!-- More expressions here -->
            <button id="deleteBtn" type="submit">Delete Selected</button>
        </form>
    </div>

    <script>
        let sanityCheck = false;
        let sanityCheck2 = false;
        const form = document.getElementById('expression-form');
        form.addEventListener('submit', (e) => {
            e.preventDefault();
            if (!sanityCheck) {
                let deleteButton = document.getElementById("deleteBtn");
                deleteButton.style.backgroundColor = "red";
                deleteButton.innerText = "Are you sure?";
                sanityCheck = true;
                return
            }else {
                sanityCheck = false;
                let deleteButton = document.getElementById("deleteBtn");
                deleteButton.innerText = "Deleting...";
                deleteButton.style.backgroundColor = "#85ff78";
            }
            let formData = new FormData(form);

            $.ajax({
                type: "POST",
                url: "/editExpressions",              
                data: formData,
                contentType: false,
                processData: false,
            }).done((response) => {
                console.log(response)
                // Remove loading animation and display element again when request is complete
                showToast(`Deleted ${Array.from(formData.keys()).length} expressions`, response)
                let deleteButton = document.getElementById("deleteBtn");
                deleteButton.style.backgroundColor = ""
                deleteButton.innerText = "Delete Selected"
                formData.forEach( (value, key, parent) =>{
                    console.log(value, key)
                    document.getElementById(key).remove()
                })

            }).fail(() => {
                console.log("Error in POST request");
                showToast("Failed to delete items", "error")
            });
        });
        const form2 = document.getElementById("settings-form")
        form2.addEventListener("submit", (e) => {
            e.preventDefault();
            let saveBtn = document.getElementById("saveSettings")

            if (!sanityCheck2) {
                saveBtn.style.backgroundColor = "#ffd54d";
                saveBtn.innerText = "This will restart your display!"
                sanityCheck2 = true;
                return
            } else {
                sanityCheck2 = false;
                saveBtn.innerText = "Saving..."
                saveBtn.style.backgroundColor = "#85ff78"
            }

            let formData = new FormData(form2)
            for (let [key, field] of formData.entries()) {
                let input = document.getElementById(key);
                if (input.tagName === "SELECT") {
                    console.log(key, input.selectedIndex);
                    formData.set(key, input.selectedIndex)
                } else {
                    console.log(key, field);
                }
            }
            console.log(formData)
            $.ajax({
                type: "POST",
                url: "/settings",
                data: formData,
                contentType: false,
                processData: false,
            }).done((response) => {
                showToast(`Saved Settings`, response)
                saveBtn.innerText = "Save & Apply"
                saveBtn.style.backgroundColor = "";
            }).fail(() => {
                console.log("Error in POST request");
                showToast("Failed to save settings", "error")
            });
        })
    </script>
{% endblock %}