{% extends 'Base.html' %}
{% block curDisplay %}
{% if currentDisplay %}
Displaying: {{ currentDisplay }}
{% else %}
Displaying: Nothing
{% endif %}
{% endblock %}
{% block title %}Settings{% endblock %}

{% block content %}
    <div class="container">

        <h2>Settings</h2>
        {% for key in settings %}
            <div class="setting-item">
                <label for="{{ key }}">{{ key }}</label>
                {% if settings[key]['type'] == "MULTICHOICE" %}
                    <select id="{{ key }}">
                        {% for choice in settings[key]['choices'] %}
                            {% if loop.index0 == settings[key]['value'] %}
                                <option value="{{ choice }}" selected>{{ choice }}</option>
                            {% else %}
                                <option value="{{ choice }}">{{ choice }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                {% else %}
                    <input id="{{ key }}" type="number" value="{{ settings[key]['value'] }}">
                {% endif %}
                <br>
                <p>{{ settings[key]['description']|safe }}</p>
            </div>
        {% endfor %}

        <h2>Expressions</h2>
        <form id="expression-form">
            {% for expression in expr %}
            <div id="{{expression}}" class="expression-item">
                <input type="checkbox" name="{{expression}}">
                <label for="{{expression}}">{{expression}}</label>
            </div>
            {% endfor %}
            <!-- More expressions here -->
            <button id="deleteBtn" type="submit">Delete Selected</button>
        </form>
    </div>

    <script>
        let sanityCheck = false;
        const form = document.getElementById('expression-form');
        form.addEventListener('submit', (e) => {
            e.preventDefault();
            if (!sanityCheck) {
                let deleteButton = document.getElementById("deleteBtn");
                deleteButton.style.backgroundColor = "red";
                deleteButton.innerText = "Are you sure?";
                sanityCheck = true;
                return
            }else {
                sanityCheck = false;
                let deleteButton = document.getElementById("deleteBtn");
                deleteButton.innerText = "Deleting...";
                deleteButton.style.backgroundColor = "mint";
            }
            let formData = new FormData(form);

            $.ajax({
                type: "POST",
                url: "/settings",              
                data: formData,
                contentType: false,
                processData: false,
            }).done((response) => {
                console.log(response)
                // Remove loading animation and display element again when request is complete
                showToast(`Deleted ${Array.from(formData.keys()).length} expressions`, response)
                let deleteButton = document.getElementById("deleteBtn");
                deleteButton.style.backgroundColor = ""
                deleteButton.innerText = "Delete Selected"
                formData.forEach( (value, key, parent) =>{
                    console.log(value, key)
                    document.getElementById(key).remove()
                })

            }).fail(() => {
                console.log("Error in POST request");
                showToast("Failed to delete items", "error")
            });
        });
    </script>
{% endblock %}